# my code style
BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: true
AlignOperands: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowAllConstructorInitializersOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
ColumnLimit: 140
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: true
DisableFormat: false
FixNamespaceComments: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
BreakInheritanceList: BeforeColon
Language: Cpp
MacroBlockBegin: >
  EKA_INTERFACE_MAP_BEGIN|
  EKA_LEGACY_SERIALIZABLE_BEGIN_GENERIC|
  EKA_METAINFO_DESCRIPTORS_MAP_BEGIN_EX|
  EKA_OBJECT_FACTORY_BEGIN|
  EKA_PROXY_STUB_FACTORIES_MAP_BEGIN_EX|
  EKA_SERIALIZABLE_BEGIN_NS|
  mEXTERNAL_TABLE_BEGIN|
  mINTERNAL_TABLE_BEGIN|
  mpPROPERTY_TABLE\(
MacroBlockEnd: >
  EKA_INTERFACE_MAP_END|
  EKA_METAINFO_DESCRIPTORS_MAP_END|
  EKA_OBJECT_FACTORY_END|
  EKA_PROXY_STUB_FACTORIES_MAP_END|
  EKA_SERIALIZABLE_END|
  mEXTERNAL_TABLE_END|
  mINTERNAL_TABLE_END|
  mpPROPERTY_TABLE_END
MaxEmptyLinesToKeep: 2
PPIndentWidth: 4
ReferenceAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: true
SpaceBeforeInheritanceColon: true
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
Standard: Latest
StatementMacros: [
    "__drv_maxIRQL",
    "__drv_sameIRQL",
    'EXTERN_C',
  ]
TabWidth: 4
UseTab: Never
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BreakBeforeBinaryOperators: NonAssignment
NamespaceIndentation: None
CompactNamespaces: false
